cudf-cu12==25.8.* --extra-index-url https://pypi.nvidia.com
cuml-cu12==25.8.* --extra-index-url https://pypi.nvidia.com
pylibraft-cu12==25.8.* --extra-index-url https://pypi.nvidia.com
raft-dask-cu12==25.8.* --extra-index-url https://pypi.nvidia.com
torch==2.8.0
torchvision==0.23.0
transformers==4.55.2
vllm==0.10.2
xgboost==3.0.5
